* {
  margin: 0;
  padding: 0;
  font-family: "monserrat", sans-serif;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bp9.jpeg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  animation: anim 10s infinite;
}
@keyframes anim {
  25% {
    background-image: url("../img/bp13.jpeg");
  }
  50% {
    background-image: url("../img/bp11.jpeg");
  }
  75% {
    background-image: url("../img/bp5.jpeg");
  }
}
.container {
  width: 360px;
  height: 600px;
  background: url("../img/bp12.jpeg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}
.tbox {
  width: 260px;
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 10px auto;
}
.tbox input {
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
  line-height: 37px;
  font-family: "monserrat", sans-serif;
  font-size: 14px;
  color: #333;
}
.btn {
  width: 260px;
  height: 40px;
  background: #3498db;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  font-family: "monserrat", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}
.b1 {
  display: block;
  width: 260px;
  padding: 10px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
}
.b2 {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  transition: 0.4s all;
  color: #3498db;
}
.b3 {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  transition: 0.4s all;
  color: #3498db;
}
a:hover {
  background: #00000040;
}
p {
  color: red;
}
