* {
  margin: 0;
  padding: 0;
  font-family: "monserrat", sans-serif;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bp9.jpeg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  animation: anim 10s infinite;
}
@keyframes anim {
  0% {
    background-image: url("../img/bp13.jpeg");
  }
  33% {
    background-image: url("../img/bp11.jpeg");
  }
  67% {
    background-image: url("../img/bp5.jpeg");
  }
}
.page-content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1 {
  color: #3498db;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p {
  color: #fff;
  margin-bottom: 20px;
}
.page-content a,
.btn {
  width: 130px;
  height: 30px;
  background: #3498db;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  font-family: "monserrat", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
