* {
  margin: 0;
  padding: 0;
  font-family: "monserrat", sans-serif;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bp9.jpeg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  animation: anim 10s infinite;
}
@keyframes anim {
  0% {
    background-image: url("../img/bp13.jpeg");
  }
  33% {
    background-image: url("../img/bp11.jpeg");
  }
  67% {
    background-image: url("../img/bp5.jpeg");
  }
}
.container {
  width: 360px;
  height: 600px;
  background: url("../img/bp3.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}
