<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/changePassword.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <h1>CHANGE PASSWORD</h1>
        <p><%= changePasswordmessage %></p>

        <form action="/user/changePassword" method="POST" id="form">
          <div class="tbox">
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              placeholder="@currentPassword"
              value=""
            />
          </div>

          <div class="tbox">
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              placeholder="@newPassword"
              value=""
            />
          </div>

          <div class="tbox">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="@confirmPassword"
              value=""
            />
          </div>

          <input class="btn" type="submit" name="" value="CONFIRM" />
        </form>

        <a class="b3" href="/user/profile">GO BACK</a>
      </div>
    </div>
  </body>
</html>
