<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/deleteAccount.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Account</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <h1>DELETE ACCOUNT</h1>

        <form action="/user/deleteAccount" method="POST" id="form">
          <input class="btn" type="submit" name="" value="CONFIRM" />
        </form>
        <a class="b2" href="/user/profile"><- BACK</a>
        <a class="b3" href="/"><- BACK TO HOME</a>
      </div>
    </div>
  </body>
</html>
