<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/forgotPassword.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Forgot Password</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <h1>FORGOT PASSWORD ?</h1>
        <p><%= forgotPasswordmessage %></p>

        <form action="/user/forgotPassword" method="POST" id="form">
          <div class="tbox">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="@email"
              value=""
            />
          </div>

          <input class="btn" type="submit" name="" value="CONFIRM" />
        </form>
        <a class="b2" href="/user/login"><- BACK</a>
        <a class="b3" href="/"><- BACK TO HOME</a>
      </div>
    </div>
  </body>
</html>
