<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/landingPage.css"
    />
    <title>Beauty Parlour</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="page-content">
        <h1>BEAUTY PARLOUR MANAGEMENT</h1>
        <p>Kindly use below option to get started!!</p>
        <button class="btn">
          <a href="/studentattendance">LOG IN</a>
        </button>
      </div>
    </div>
  </body>
</html>
