<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="./public/css/recoverPassword.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recover Password</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="container">
        <h1>CHANGE PASSWORD</h1>
        <p><%= recoverPasswordmessage %></p>

        <form action="/user/recoverPassword" method="POST" id="form">
          <div class="tbox">
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              placeholder="@newPassword"
              value=""
            />
          </div>

          <div class="tbox">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="@confirmPassword"
              value=""
            />
          </div>

          <input class="btn" type="submit" name="" value="CONFIRM" />
        </form>
      </div>
    </div>
  </body>
</html>
